.section__about {
  margin-bottom: 47px;
}

.about:before {
  z-index: -1;
  display: flex;
  content: "";
  width: 488px;
  height: 502px;
  background: url("../../img/photo-bottom.png") center center / cover no-repeat;
}

.about__desc {
  display: flex;
  flex-direction: column;
  line-height: 1.55;
  border-radius: 4px;
  margin-left: 357px;
  margin-top: -412px;
  width: 496px;
  min-height: 318px;
  background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(143,0,255,1) 0%, rgba(20,140,255,1) 100%);;
  padding: 65px 202px 66px 81px;
  align-items: flex-start;
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
}

.about__subtitle {
  margin-bottom: 47px;
}

.about__subtitle p {
  margin-bottom: 20px;
}

.about__subtitle p:last-child {
  margin-bottom: 0;
}
