.wrapper--hello--page {
  height: 100%;
}

.hello {
  height: 100%;
  backdrop-filter: grayscale(100%);
}

.hello__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hello__block {
  text-align: center;
  animation: apperance 1s linear;
}

@keyframes apperance {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  20%, 50%, 80% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  70% {
    transform: translateY(-15px);
  }

  90% {
    transform: translateY(-4px);
  }

  100% {
    opacity: 100;
    transform: translateY(0);
  }

}

.hello__logo {
  margin-bottom: 20px;
}