.separator {
  background: #17191C url("../../img/separator_img.png") right 23% bottom no-repeat;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.separator__content {
  max-width: 40%;
  /* display: flex;
  align-items: center; */
}

.separator__title {
  font-size: 48px;
  font-weight: bold;
}